@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #1aa7ed;
  --color1: #1aa7ed;
  --color2: #2b31e0;
  --color3: #2b6ae0;
  --color4: #2bdde0;
  --color5: #5e2be0;
  --color6: #759ae0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
